<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cómo Transformar Tu Ingreso Anual en Tu Ingreso Mensual</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
  </head>
  <body>
    <div id="black-header"></div>
    <div class="container">
      <div class="col-md-8 video">
        <div id="cuadrado-div">
        <iframe src="//fast.wistia.net/embed/iframe/44mauer819" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="642" height="361"></iframe>
        <h2>Da click ahora en el video...</h2>
        </div>
      </div>
      <div class="col-md-4 formulario">
        <img src="{% image_url 'arrows_03.png' %}">
        <h1>Cómo Transformar Tu Ingreso Anual en Tu Ingreso Mensual </h1>
        <form method="post">
          <input class="text-inputs" type="text" name="name" placeholder="Ingresa tu Nombre...">
          <input class="text-inputs" type="text" name="email" placeholder="Ingresa tu Email...">
          <div id="send-now"><input type="submit" value="Quiero Ser Parte "></div>
        </form>
      </div>
    </div>
    <div id="people">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-5"><img src="{% image_url 'people_03.png' %}"></div>
            <div class="col-md-7">
            <h3>Raúl Luna</h3>
            <p>De bancarrota a libertad 
financiera en 10 meses.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-5"><img src="{% image_url 'people_05.png' %}"></div>
            <div class="col-md-7">
            <h3>Esther Hernández</h3>
            <p>Mi ingreso anual se convirtió 
en mi ingreso mensual.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-5"><img src="{% image_url 'people_07.png' %}"></div>
            <div class="col-md-7">
            <h3>José Ardón</h3>
            <p>Solo estudié hasta 4to 
grado de primaria, aun así, 
me convertí en millonario.</p>
            </div>
          </div>
      </div>
    </div>
    <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
  </body>
</html>