<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Padre de Familia Desesperado y En Bancarrota Descubre Una Industria Que Lo Transforma en Millonario</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <header>
    <div class="black-header"></div>
    <div class="border-1"></div>
   </header>
   <div id="texts">
     <img src="{% image_url 'arrow.png' %}">
     <h1>Padre de Familia Desesperado y En Bancarrota<br>Descubre Una Industria Que Lo Transforma en Millonario…</h1>
     <h3>¿Cómo Puedes Ser Parte de Esta Industria?</h3>
     <h4>[¿Dónde puede enviarte esta información?]</h4>
     <form method="post">
        <input class="text-inputs" type="text" name="name" placeholder="Ingresa tu nombre">
        <input class="text-inputs" type="text" name="email" placeholder="Ingresa tu email">
        <div id="send-now"><input type="submit" value="Enviar Ahora"></div>
     </form>
   </div>
   <div class="border-2"></div>
   <footer>
    <p>© 2014 - Todos los derechos reservados.</p>
   </footer>
  </body>
</html>