<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="cs" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="cs" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>GiveAway</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./css/style.css?v=1" media="screen, projection" />
		<link rel="stylesheet" href="./css/print.css?v=1" media="print" />
		<link rel="shortcut icon" href="./favicon.ico" />
		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
	</head>
	<body class="page-subpage">
		<div id="main">
			<div class="row-main">
				<div class="col col-book">
					<a href="#"><img src="./img/book.png" alt="book" /></a>
				</div>
				<div class="col col-content">
					<div class="in">
						<p class="read-this">Read this free report</p>
						<h1>"The 5 (Dirt Cheap) Tools I Use To Create All My Videos (Including My $80 HD Video Camera)"</h1>
						<form action="#" method="post">
							<div class="row with-info-text">
								<label for="name" class="label">Enter your First Name here</label>
								<p class="inp-row">
									<span class="inp-fix"><input type="text" class="inp-text" name="name" id="name" placeholder="Enter your First Name here" /></span>
								</p>
							</div>
							<div class="row">
								<label for="mail" class="label">Enter a valid e-mail here</label>
								<p class="inp-row">
									<span class="inp-fix"><input type="text" class="inp-text" name="mail" id="mail" placeholder="Enter a valid e-mail here" /></span>
								</p>
							</div>
							<div class="row">
								<p class="buttons">
									<button class="btn"><span><em>Click Here</em> For Free Instant Access &raquo;</span></button>
									<a href="#" class="link">Click Here For Free Instant Access</a>
								</p>
							</div>
						</form>
						<p class="secure">Your Information is 100% Secure And Will Never Be Shared With Anyone.</p>
						<p class="legal"><a href="#">Legal Information</a></p>
					</div>
				</div>
			</div>
		</div>

		<!--[if lte IE 8 ]>
			<img src="./img/bg.jpg" alt="" class="bg-ie" />
		<![endif]-->

		<script src="./js/jquery.js?v=1"></script>
		<script src="./js/app.js?v=1"></script>
		<script>
			App.run({})
		</script>
	</body>
</html>


