<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Padre Desesperado, en Bancarrota y Ansioso por Cambiar Su Situación Financiera</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
  </head>
  <body>
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-4 header-hr">
             <hr>
            </div>
            <div id="header-title" class="col-md-4">
              <h2>Noticia de última hora</h2>
            </div>
            <div class="col-md-4 header-hr">
              <hr>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div id="titles">
         <h1>“Padre Desesperado, en Bancarrota y Ansioso por <b>Cambiar Su Situación Financiera</b> Hace Un Último Intento por Recuperar La Confianza de Su Familia</h1>
         <h2>… Lo que sucedió fue algo impresionante”</h2>
        </div>
        <div class="row raul-row">
          <div id="raul-luna">
            <img src="{% image_url 'raul-luna_03.png' %}">
            <h3>Raul Luna</h3>
          </div>
          <div id="texts" class="col-md-7">
            <p>Estimado emprendedor,<br><br>
            Estaba en bancarrota, sin dinero y sin contactos pero encontré una industria que cambió mi vida para siempre.<br><br>
            ¿Te gustaría saber que industria y los errores que debes evitar?</p>
            <h2>¡Sí! Es Completamente GRATIS</h2>
          </div>
        </div>
      </div>
      <div id="form-bg">
        <div class="container">
          <form method="post">
            <h3>¿Dónde te envió esta información?</h3>
            <input class="text-inputs" type="text" name="name" placeholder="Ingresa tu nombre…">
            <input class="text-inputs" type="text" name="email" placeholder="Ingresa tu email…">
            <div id="send-now"><input type="submit" value="Enviar Ahora"></div>
         </form>
       </div>
     </div>
  </body>
</html>